.card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.title-month {
    margin-top: 10px;
    margin-left: 10px;
    padding:10px;
    background-color: black;
    color: white;
}

.text-amount {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

.text-nextPaidDay {
    text-align: center;
    padding-bottom: 20px;
}

.title {
    margin-top: 10px;
    margin-left: 10px;
    padding:10px;
    background-color: black;
    color: white;
}

.text-recurring-amount {
    text-align: center;
    font-size: 3rem;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

.totalBill {
    margin-left: 40px;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: blueviolet;
    color: white;
}

.card-title {
    text-align: center;
}
.card-text {
    text-align: center;
    font-size: 2.5rem;
}

.expense-title {
    
}
.badge {
    margin-left: 80%;
}